* {
    margin: 0;
    padding: 0;
    background: deepskyblue;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    line-height: 20px
}

container { margin: 0}
@media (max-width: 400) {
    border: 0;
    z-index: 20;
}
.container-test {
    display: felx;
    flex-direction: column;
    flex-direction: row;
    flex-diretion: column-reverse;
    flex-direction: row-reverse;
    flex-wrap: warp;
    flex-wrap: no-wrap;
    justify-content: flex-start;
    justify-content: center;
    justify-content: flex-end;
    justify-content: flex-start;
    justify-content: center;
    justify-content: flex-end;
    justify-content: flex-start;
    justify-content: center;
    juistify-content: flex-end;
    justify-content: space-around;
    juistify-content: space-between;
}
.container {
    grid-template-columns: 1fr 1fr;
}
