* {
    margin: 0;
    padding: 0;
    background-color: deepskyblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    border-box: 1;
}

.container {width: 80%;}
.testing {
    grid-template-columns: 1fr 1fr 1fr;
}
