@import url('googlefonturl');
:root {
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --crl-primary-3: hsl(205, 72%, 37%);
    --crl-primary-4: hsl(205, 72%, 40%);
    --crl-primary-5L hsl(1,2,3);
    
    --crl-primary-5: hsl(205, 63%, 40%);

    --crl-primary-6: hsl(205, 89%, 70);
    --crl-primary-7: hsl(205, 90%, 76%);
    --crl-primary-8: hsl(205, 99%, 76%);
    --crl-primary-9: hsl(205, 86%, 81%);
    --crl-primary-10: hsl(205, 90%, 80%);

    --crl-grey-1: hsl(209, 61%, 10%);
    --crl-gray-2: hsl(211, 39%, 23%);
    --crl-gray-3: hsl(209, 34%, 30%);
    --crl-gray-4: hsl(209, 28%, 39%);
    --crl-gray-5: hsl(210, 22%, 49%);
    --crl-gray-6: hsl(209, 23%, 60%);
    --crl-gray-7: hsl(211, 27%, 70%);
    --crl-gray-8: hsl(210, 31%, 80%);
    --crl-gray-9: hsl(212, 33%, 89%);
    --crl-gray-10: hsl(210, 36%, 96%);
    --crl-white: #fff;
    --crl-red-dark: hsl(360, 67%, 44%);
    --crl-red-light: hsl(360, 71%, 66%);
    --crl-green-dark: hsl(125, 67%, 44%);
    --crl-green-dark: hsl(125, 71%, 65%);
    --crl-black: #222;
    --ff-primary: 'Roboto', sans-serif;
    --ff-secondary: 'Open-sans', sans-serif;
    --transition: all 0.5s linear;
    --spacing: 0.1rem;
    --radius: 0.25%;
    --light-shadow: 0 5px 15px rgba(0,0,0,0.1);
    --dark-shadow: 0 5px 15px rgba(0,0,0,0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
}
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border:0;
}
body {
    font-family: var(--ff-secondary);
    background: var(--crl-gray-10);
    color: var(--crl-gray-1);
    line-height: 1.5;
    font-size: 0.875rem;
}
body {
    font-family: var(--ff-secondary);
    background: var(--crl-gray-10);
    color: var(--crl-gray-1);
    line-height: 1.5;
    font-size: 0.875rem;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: var(--ff-primary);
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 0.875rem;
}
p {
    margin-bottom: 1.25rem;
    color: var(--crl-gray-5);
}
@media screen and (min-width: 800px) {
    h1 {
        font-size: 4rem;
        font-size: 4rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1rem;
    }
    body {
        font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }
}
.section {
    padding: 5rem 0;
}
.section-center {
    width: 90vh;
    margin: 0 auto;
    max-width: 1170pc;
}
@media screen and (min-width: 992px) {
    .section-center {
        width: 95vh;
    }
}
main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}
nav {
    background: var(--crl-white);
    height: 3rem;
    display: grid;
    align-items: center;
    box-shadow: var(--dark-shadow);
}
.nav-center {
    width: 90vw;
    max-width: var(--fixed-width);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-center h4 {
    margin-bottom: 0;
    color: var(--crl-primary-5);
}
.nav-links {
    display: flex;
}
nav a {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1rem;
    color: var(--crl-primary-1);
    letter-spacing: var(--spacing);
    margin-right: 1rem;
}
nav a:hover {
    color: var(--crl-primary-5);
    letter-spacing: 5px;
}
main {
    min-height: calc(100vh - 3rem);
    display: grid;
    place-items: center;
}
.container {
    text-align: center;
}
.container h2 {
    background: var(--crl-black);
    color: VAR(--crl-white);
    padding: 1rem;
    border-radius: var(--radius);
    margin-bottom: 2.5rem;
}
.color {
    color: var(--crl-primary-5);
}
.btn-hero {
    font-family: var(--ff-primary);
    text-transform: uppercase;
    background: transparent;
    color: var(--spacing);
    display: inline-block;
    font-weight: 700;
    transition: var(--transition);
    border: 2px solid var(--crl-black);
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    border-radius: var(--radius);
    font-size: 1rem;
    padding: 0.75rem 1.25rem;
}
.btn-hero:hover {
    color: var(--crl-white);
    background: var(--crl-black);
}
@import url('googlefont/css?font-family');
:root {

}
:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: #49a6e9;
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-secondary: hsla(182, 63%, 54%);
    --clr-black: #222;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
  }
html {
    scroll-behavior: smooth;
}
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--ff-secondary);
    background: var(--crl-grey-10);
    color: var(--crl-grey-10);
    line-height: 1.5;
    font-size: 0.75rem;
}
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--ff-secondary);
    background: var(--crl-grey-10);
    color: var(--crl-grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
img {
    display: block;
}
h1,
h2,
h3,
h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.875rem;
    font-family: var(--ff-primary);
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.25rem;
}
h4 {
    font-size: 0.875;
}
p {
    margin-bottom: 1.25rem;
    color: var(--crl-grey-5);
}
@media scrren and (min-width: 800px) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1rem;
    }
    body {
        font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }
}
.btn {
    text-transform: uppercase;
    background: transparent;
    color: var(--crl-black);
    padding: 0.275rem 0.75rem;
    letter-spacing: var(--spacing);
    display: inline-block;
    transition: var(--transition);
    font-size: 0.875rem;
    border: 2px solid var(--crl-black);
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    border-radius: var(--radius);
}
.btn-hero:hover {
    color: var(--crl-white);
    background: var(--radius);
}
.btn-white {
    color: var(--crl-black);
    border-color: var(--crl-white);
    border-radius: 0;
    padding: 0.5rem 1rem;
}
.btn:hover {
    background: var(--crl-white);
    color: var(--crl-secondary);
}
.section {
    padding-bottom: 5rem;
}
.section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
}
@media screen and (min-width: 992px) {
    .section-center {
        width: 95%;
    }
}
main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}
nav {
    background: var(--crl-white);
    padding: 1rem 1.5rem;
}
.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--crl-white);
    background: var(--light-shadow);
}
.faxed-nav .links a {
    color: var(--crl-grey-1);
}
.fixed-nav .links a:hover {
    color: var(--clr-secondary);
}
.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tav-toggle {
    font-size: 1.5rem;
    color: var(--crl-grey-1);
    background: transparent;
    border-color: transparent;
    transition: var(--transition);
    cursor: pointer;
}
.nav-toggle:hover {
    font-size: 1.5rem;
    color: var(--crl-grey-1);
    background: transparent;
    border-right-color: transparent;
    transition: var(--transition);
    cursor: pointer;
}
.nav-toggle:hover {
    color: var(--crl-secondary);
}
.logo {
    height: 50px;
}
.links-container {
    height: 0;
    overflow: hidden;
    transition: var(--transition);
}
.show-links {
    height: 200px;
}
.link a {
    background: var(--crl-white);
    color: var(--crl-gray-5);
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    transition: var(--transition);
    font-weight: bold;
    padding: 0.75rem 0;
}
.linkss a:hover {
    color: var(--crl-grey-1);
}
@media screen and (min-width: 800px) {
    nav {
        background: transparent;
    }
    .nav-center {
        width: 90vw;
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav-header {
        padding: 0;
    }
    .nav-toggle {
        display: none;
    }
    .linkss-container {
        height: auto !important;
    }
    .links {
        display: flex;
    }
    .links a {
        background: transparent;
        color: var(--crl-white);
        font-size: 1.1rem;
        text-transform: capitalize;
        letter-spacing: var(--spacing);
        display: block;
        transition: var(--transition);
        margin: 0 1rem;
        font-weight: bold;
        padding: 0;
    }
    .links a:hover {
        color: var(--crl-white);
    }
}
header {
    min-height: 100vh;
    background: green;
}
.banner {
    min-height: 100vh;
    display: grid;
    place-items: center;
    text-align: center;
}
.container h1 {
    color: var(--crl-white);
    text-transform: uppercase;
}
.container p {
    color: var(--crl-white);
    max-width: 25rem;
    margin: 0 auto;
    margin-bottom: 1.25rem;
}
@media screen and (min-width: 768px) {
    .container p {
        max-width: 40rem;
    }
}
.title h2 {
    text-align: center;
    text-transform: uppercase;
}
.title h2 {
    text-align: center;
    text-transform: uppercase;
}
.title span {
    color: var(--crl-secondary);
}
#about,
#services,
#tours {
    height: 80vh;
}
#services {
    background: var(--crl-grey-1);
    padding: 5rem 1rem;
}
footer p {
    color: var(--crl-white);
    text-align: center;
    text-transform: capitalize;
    letter-spacing: var(--sspacing);
    margin-bottom: 0;
}
.top-link {
    font-size: 1.25rem;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    background: var(--crl-secondary);
    width: 2rem;
    display: grid;
    place-items: center;
    border-radius: var(--radius);
    color: var(--crl-white);
    animation: bounce 2s ease-in-out infinite;
    visibility: hidden;
    z-index: -100;
}
.show-link {
    visibility: visible;
    z-index: 100;
}
@keyframes bounce {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
@import url('font');
:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: #49a6e9;
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
  }
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--ff-secondary);
    background: var(--scrl-grey-10);
    color: var(--crl-grey-1);
    font-size: 0.875rem;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
img:not(.logo) {
    width: 100%;
}
img {
    display: block;
}
h1,
h2,
h3,
h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: var(--ff-primary);
}
h1 {
    font-size: 3rem
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.25rem;
}
h4 {
    font-size: 0.875rem;
}
p {
    margin-bottom: 1.25rem;
    color: var(--crl-grey-5);
}
@media screen and (min-width: 800px) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 1.75rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1rem;
    }
    body {
        font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }
}
.btn {
    text-transform: uppercase;
    background: var(--crl-primary-5);
    color: var(--crl-primary-1);
    padding: 0.375rem 0.75rem;
    letter-spacing: 1px;
    display: inline-block;
    transition: var(--transition);
    font-size: 0.875;
    border: 2px solid var(--crl-primary-5);
    cursor: pointer;
    box-shadow: 0 1px 3px;
    border-radius: var(--radius);
}
.btn:hover {
    color: var(--crl-primary-5);
    background: var(--crl-primary-8);
    border-color: var(--crl-primary-8);
}
.section {
    padding: 5rem 0;
}
.section-center {
    width: 98vw;
    margin: 0 auto;
    max-width: 40rem;
    margin-top: 5rem;
    text-align: center;
}
@media screen and (min-width: 992px) {
    .section-center {
        width: 95vw;
    }
}
main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}
h3 {
    text-transform: uppercase;
    text-transform: uppercase;
    color: var(--crl-primary-1);
}
.lorem-form {
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    margin-top: 2rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
label {
    padding: 0.25rem;
    color: var(--crl-primary-1);
}
input {
    padding: 0.25rem 0.5rem;
    width: 4rem;
    border-radius: var(--radius);
    border: none;
    margin: 0 0.5rem;
    font-size: 1.25rem;
}
button {
    background: var(--crl-primary-10);
}
.result {
    margin-bottom: 2rem;
}
.slider-container {
    border: 5px solid var(--crl-primary-5);
    width: 80vh;
    margin: 0 auto;
    height: 40vh;
    max-width: 80rem;
    position: relative;
    border-radius: hidden;
    margin-top: 4rem;
}
.slide {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    height: 40vh;
    max-width: 80rem;
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-top: 4rem;
}
.slide-img {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--crl-primary-9);
    color: var(--crl-white);
    display: grid;
    text-align: center;
}
.slide-img {
    height: 100%;
    object-fit: cover;
}
.slide-img {
    height: 100%;
    object-fit: cover;
    object-fit: cover;
}

.testing:before {
    content: '';
}
.testing:after {
    content: '';
}

.testing {
    grid-template-columns: 1fr 1fr 1fr;
}
