* {
    margin: 0;
    padding: 0;
    background-color: deepskyblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}